#home {
    height: 100vh !important;
    width: 100vw !important;
}

html,
body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}

#content {
    /* background-image: url("/public/images/dr_house_bg.png"); */
    background-repeat: no-repeat;
    background-color: black;
}

* {
    margin: 0;
    padding: 0
}

html {
    height: 100%
}

#form {
    text-align: center;
    position: relative;
    margin-top: 20px
}

#form fieldset {
    /* background: white; */
    margin-top: 5%;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    /* margin: 0; */
    padding-bottom: 20px;
    position: relative
}

.finish {
    text-align: center
}

#form fieldset:not(:first-of-type) {
    display: none
}


/* site dessin */

button.prev-btn,
button.next-btn,
button.submit-btn {
    font-size: 17px;
    font-weight: bold;
    position: relative;
    width: 130px;
    height: 50px;
    background: #6c757d;
    margin: 0 auto;
    margin-top: 40px;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    transition: color .3s;
    text-align: center;
    color: #fff;
    border: 0;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

button.prev-btn:after,
button.next-btn:after,
button.submit-btn:after {
    position: absolute;
    top: 90%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #343a40;
    content: "";
    z-index: -2;
    transition: transform .3s;
}

button.prev-btn:hover::after,
button.next-btn:hover::after,
button.submit-btn:hover::after {
    transform: translateY(-80%);
    transition: transform .3s;
}


/* site dessin */

.text {
    color: #2F8D46;
    font-weight: normal
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey
}

#progressbar .active {
    color: #6c757d
}

#progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 25%;
    float: left;
    position: relative;
    font-weight: 400
}

#progressbar #step1:before {
    content: "1"
}

#progressbar #step2:before {
    content: "2"
}

#progressbar #step3:before {
    content: "3"
}

#progressbar #step4:before {
    content: "4"
}

#progressbar li:before {
    width: 35px;
    height: 35px;
    line-height: 33px;
    display: block;
    font-size: 16px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #6c757d
}

.progress {
    height: 20px
}

.progress-bar {
    background-color: #2F8D46
}


/* type client */

.q__question {
    position: relative;
}

.q__question:not(:last-child) {
    margin-bottom: 10px;
}

.question__input {
    position: absolute;
    left: -9999px;
}

.question__label {
    position: relative;
    /* display: block; */
    line-height: 40px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    background-color: #fff;
    padding: 5px 20px 5px 50px;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

.question__label_typeClient {
    position: relative;
    display: block;
    line-height: 70px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    background-color: #fff;
    padding: 5px 20px 5px 50px;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #00011c;
}

.question__label:hover {
    border-color: #3583dc;
}

.question__label_typeClient:hover {
    border-color: #3583dc;
}

.question__label:before,
.question__label:after {
    position: absolute;
    content: "";
}

.question__label_typeClient:before,
.question__label_typeClient:after {
    position: absolute;
    content: "";
}

.question__label:before {
    top: 12px;
    left: 10px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: inset 0 0 0 1px #ced4da;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}

.question__label_typeClient:before {
    top: 27px;
    left: 10px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: inset 0 0 0 1px #ced4da;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}

.question__input:checked+.question__label:before {
    background-color: #3583dc;
    box-shadow: 0 0 0 0;
}

.question__input:checked+.question__label:after {
    top: 22px;
    left: 18px;
    width: 10px;
    height: 5px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(-45deg);
}

.question__input:checked+.question__label_typeClient:before {
    background-color: #3583dc;
    box-shadow: 0 0 0 0;
}

.question__input:checked+.question__label_typeClient:after {
    top: 36px;
    left: 18px;
    width: 10px;
    height: 5px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(-45deg);
}

.form-check-input:checked,
.form-check-input:focus {
    background-color: #3583dc !important;
    outline: none !important;
    border: none !important;
}

input:focus {
    outline: none;
}

#input-container {
    display: inline-block;
    box-shadow: none !important;
    margin-top: 36px !important;
}

label.form-check-label.radio-lb {
    margin-right: 15px;
}

#q-box__buttons {
    text-align: center;
}

input[type="text"],
input[type="email"] {
    padding: 8px 14px;
}

input[type="text"]:focus,
input[type="email"]:focus {
    border: 1px solid #3583dc !important;
    background: #eaf2fc !important;
    border-radius: 5px !important;
    outline: 0px !important;
    -webkit-appearance: none !important;
    box-shadow: none !important;
    -webkit-transition: all 0.15s ease-in-out !important;
    -moz-transition: all 0.15s ease-in-out !important;
    -o-transition: all 0.15s ease-in-out !important;
    transition: all 0.15s ease-in-out !important;
}

.form-check-input:checked[type=radio],
.form-check-input:checked[type=radio]:hover,
.form-check-input:checked[type=radio]:focus,
.form-check-input:checked[type=radio]:active {
    border: none !important;
    -webkit-outline: 0px !important;
    box-shadow: none !important;
}

.form-check-input:focus,
input[type="radio"]:hover {
    box-shadow: none;
    cursor: pointer !important;
}

#success {
    display: none;
}

#success h4 {
    color: #3583dc;
}

.back-link {
    font-weight: 700;
    color: #3583dc;
    text-decoration: none;
    font-size: 18px;
}

.back-link:hover {
    color: #3583dc;
}

#preloader-wrapper {
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
}

#preloader {
    background-image: url('../img/preloader.png');
    width: 120px;
    height: 119px;
    border-top-color: #fff;
    border-radius: 100%;
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    margin: -75px 0 0 -75px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    z-index: 1001;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#preloader-wrapper .preloader-section {
    width: 51%;
    height: 100%;
    position: fixed;
    top: 0;
    background: #F7F9FF;
    z-index: 1000;
}

#preloader-wrapper .preloader-section.section-left {
    left: 0
}

#preloader-wrapper .preloader-section.section-right {
    right: 0;
}

.loaded #preloader-wrapper .preloader-section.section-left {
    transform: translateX(-100%);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #preloader-wrapper .preloader-section.section-right {
    transform: translateX(100%);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #preloader {
    opacity: 0;
    transition: all 0.3s ease-out;
}

.loaded #preloader-wrapper {
    visibility: hidden;
    transform: translateY(-100%);
    transition: all 0.3s 1s ease-out;
}

@media (min-width: 990px) and (max-width: 1199px) {
    #title-container {
        padding: 80px 28px 28px 28px;
    }
    #steps-container {
        width: 85%;
    }
}

@media (max-width: 991px) {
    #title-container {
        padding: 30px;
        min-height: inherit;
    }
}

@media (max-width: 767px) {
    #qbox-container {
        padding: 30px;
    }
    #steps-container {
        width: 100%;
        min-height: 400px;
    }
    #title-container {
        padding-top: 50px;
    }
}

@media (max-width: 560px) {
    #qbox-container {
        padding: 40px;
    }
    #title-container {
        padding-top: 45px;
    }
}

.login {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.4;
    color: #555;
    margin-right: 4%;
    padding-top: 1%;
}

.title1 {
    margin-top: 5%;
    font-size: 22px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: left;
    margin-left: 4%;
    color: #00011c;
}

.typeClient {
    margin-left: 7%;
    margin-right: 7%;
}

.title {
    /* margin-top: 5%; */
    /* font-weight: 500; */
    font-size: 21px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: left;
    margin-left: 4%;
    color: #00011c;
}

.step2 {
    margin-top: 2%;
    margin-left: 4%;
    margin-right: 4%;
    text-align: left;
}

.infoClient {
    padding-top: 2%;
}

.labelClient {
    font-size: 14px !important;
    /* font-weight: 600 !important; */
    margin-bottom: 5px !important;
    color: #00011c !important;
}

.form-control {
    height: 45px !important;
    line-height: 45px !important;
    background: #e9edf4 !important;
    border: 0px solid #d7dbda !important;
    font-size: 14px !important;
    color: #777D74 !important;
}

.projectType {
    text-align: left;
    padding-top: 3%;
    margin-left: 4%;
    color: #3583dc;
}

.projectCategory {
    text-align: left;
    padding-left: 5% !important;
    display: flex !important;
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
}

.questions {
    text-align: left;
    padding-top: 3%;
    margin-left: 4%;
    margin-right: 4%;
}

.projectInfo {
    font-size: 15px !important;
    /* font-size: 1rem; */
    /* font-weight: 600 !important; */
    margin-bottom: 5px !important;
    color: #00011c !important;
}

.final {
    text-align: left;
    color: grey;
    margin-left: 4%;
    font-size: 16px;
    font-weight: 600;
    margin-top: 4%;
}

.file {
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 4%;
    text-align: left;
    margin-top: 5%;
    margin-left: 4%;
    font-size: 16px;
    color: #00011c;
    font-weight: 600;
}

.link {
    text-align: left;
    color: grey;
    margin-left: 4%;
}

.form-inputs[type=file] {
    overflow: hidden;
}

.form-inputs[type=file]:not(:disabled):not([readonly]) {
    cursor: pointer;
}

.form-inputs-sm {
    min-height: calc(1.5em + 0.5rem + 2px);
    /* padding: 0.25rem 0.5rem; */
    font-size: 0.875rem;
    border-radius: 0.2rem;
}

.form-inputs {
    display: block;
    width: 100%;
    /* padding: 0.375rem 0.75rem; */
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
